[Desktop Entry]
Type=Application
Name=Install NeuronOS
Comment=Install NeuronOS to your system
Exec=sudo calamares
Icon=calamares
Terminal=false
Categories=System;
