[Unit]
Description=NeuronOS Initialization
After=network-pre.target
Before=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/neuron-os/neuron-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
