[Desktop Entry]
Type=Application
Name=File Manager
Comment=Browse files and folders
Icon=org.gnome.Nautilus
Exec=nautilus
Terminal=false
Categories=System;
