[Desktop Entry]
Type=Application
Name=NeuronStore
Comment=Browse and install applications
Icon=gnome-software
Exec=neuron-store
Terminal=false
Categories=System;
