[Desktop Entry]
Type=Application
Name=NeuronStore
Comment=Browse and install applications
Icon=system-software-install
Exec=neuron-store
Terminal=false
