[Desktop Entry]
Type=Application
Name=System Monitor
Comment=Monitor system processes and resources
Icon=org.gnome.SystemMonitor
Exec=gnome-system-monitor
Terminal=false
Categories=System;Monitor;
