[Desktop Entry]
Type=Application
Name=Terminal
Comment=Command line interface
Icon=org.gnome.Terminal
Exec=gnome-terminal
Terminal=false
Categories=System;
